:root {
    --blackground:#0810B3;
	--prinary: #4C4C4C;
    --gray: #808080;
    --grey:#CCCCCC;
	--white: #ffffff; 
    --green: #38B781;
    --red: #FF0000;
    --gradientBlue:linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
    --USDT: #1BA27A;
    --DOGE: #F0C234;
    --BTC: #F7931A;
    --BNB: #FFDA41;
  }
  
.crypto-table{
    background: white;
    border-radius: 10px;
    padding: 20px;
}
.crypto-table table{
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
.green-text {
    color: var(--green);
}
.red-text {
    color: var(--red);
}