html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
	text-decoration: none;
    color: var(--prinary);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    --blackground:#0810B3;
	--prinary: #4C4C4C;
    --gray: #808080;
	--white: #ffffff; 
    --green: #38B781;
    -red: #FF0000;
    --gradientBlue:linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);

    --USDT: #1BA27A;
    --DOGE: #F0C234;
    --BTC: #F7931A;
    --BNB: #FFDA41;
  }
  
  h2{
      color: var(--white);
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
}
  h3{
      font-size: 48px;
      font-weight: 800;
      line-height: 68px;
  }
  h4{
    font-size: 34px;
    font-weight: 800;
    line-height: 48px;
}
h6{
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
}

.pm-prinary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
    border-radius: 6px;
    color: var(--white);
    border: none;
    padding: 12px 22px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  



  /* MYADS */
.date-picker-border {
    border: 1px solid #808080;
    outline: none;
}
  .heading-myads {
      height: 160px;
      background: #F2F2F2;

  }

  .ad-history {
      color: #000DFF;
      font-weight: 800;
  }

  .heading-text h2 {
      font-size: 2.1rem;
      font-weight: 800;
      color: #000DFF;
  }

  .wrapper-filter {
      padding: 5rem 0;
  }

  .disable {
      background: linear-gradient(100.66deg, #434343 6.56%, #000000 93.57%);
      opacity: 0.3;
      color: white;
      padding: 0.6rem 2rem;
      font-size: 1rem;
      font-weight: 800;
  }

  .filter {
      padding: 0.6rem 2rem;
      font-size: 0.9rem;
      font-weight: 800;
  }

  .table-payme {
      background: #F2F2F2;

  }

  .title-table {
      font-size: 1.1rem;
      font-weight: 400;

      white-space: unset;

  }

  .title-text-table {
      display: inline-block;
      width: 9rem;
  }

  .content-table {
      font-size: 1rem;
      color: #808080;

  }

  .no-result {
      margin-bottom: 100px;
      opacity: 0.3;
  }

  .no-result span {
      font-size: 5rem;
  }

  .container-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  /* TAB */


  .box-step {
      width: 48px;
      height: 48px;
      background-color: var(--blackground);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      font-size: 1.2rem;
      z-index: 80;

  }
  .disable-step {
    background: #D9D9D9;
    color: var(--prinary);
  }
  .text-divider1 { 
      width: 60px;
      color: black;
      height: 20px;
  }

  /* .text-divider1::before,
  .text-divider1.ad-history {
      content: '';
      height: 1px;
      background-color: var(--gray);
      flex-grow: 1;
  }

  .text-divider1::before {
      margin-right: var(--text-divider-gap);
  }

  .text-divider1::after {
      margin-left: var(--text-divider-gap);
  } */
.iwantobuy {
    background:  #6B73FF ;
    border: none;
    color: #4C4C4C;
    font-size : 1.2rem;
    font-weight: 900;
}
.tosell {
    background: #F2F2F2
}
.radio-coin {
    font-size:1.1rem ;
    color: #4C4C4C;
    font-weight: 800; 
}
.coin-select {
    margin-bottom: 20px;
    padding-bottom: 2.8rem;
    border-bottom: 1px dotted #434343;
}
.coin-select h5 {
    font-size: 1.1rem;
}


.line-step {
   
    width: 430px;
    height: 2px;
    background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
}
.value-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

 #decrease {
    margin-right: -4px;
    border-radius: 4px 0 0 4px;
    padding: 0 2rem;
}

 #increase {
    margin-left: -4px;
    border-radius: 0 4px 4px 0;
    padding: 0 2rem;
}

 #input-wrap {
    margin: 0px;
    padding: 0px;
}

#number {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    padding: 0.5rem 2rem;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mb-tab{
    margin-bottom: 100px;
}

/* css local */

.fs18-fw-700 {
    font-weight: 700 !important;
    font-size: 1.1255rem !important;
    color: #4C4C4C !important;
}
.fs-26px-fw-800 {
    font-size: 1.57rem !important;
    font-weight: 800 !important;
    color: #4C4C4C !important;
}
.pm-primary-payme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
    border-radius: 6px;
    color: var(--white);
    border: none;
    padding: 6px 22px;
}


/*  */
@media (max-width:992px) { 
    .container-filter {
        flex-direction: column;
    }
    .heading-text h2 {
        font-size: 1.5rem;
    }
    .container-content {
        justify-content: start;
    }
    .method-buy-sell {
        flex-direction: column;
    }
    .box-step {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }
    #number {
            padding: 0.4rem 1rem;
    }
    
    label {
        font-size: 0.8rem;
    }
    .line-step {
            width: 140px;
    }
        .fs18-fw-700 {
            font-weight: 700 !important;
            font-size: 0.822rem !important;
            color: #4C4C4C !important;
        }
    
        .fs-26px-fw-800 {
            font-size: 0.955rem !important;
            font-weight: 800 !important;
            color: #4C4C4C !important;
        }
        .step-active {
            font-weight: 900;
            font-size: 0.75rem !important;
            color: #4C4C4C;
        }
        .step-deactive {
                    font-weight: 400;
                    font-size: 0.68rem !important;
                    color: #4C4C4C;
        }
        .input-amount-waraper input {
                    padding: 0.3rem 5rem 0.3rem 2rem !important;
                    border: 1px solid #999999 !important;
     }
         .coin-text {
             position: absolute;
             right: 8%;
             bottom: 10% !important;
             color: #808080;
             font-size: 0.8rem !important;
             font-weight: 400 !important;
         }
                 .padding-2-4 {
                     padding: 0.2rem 1rem !important;
                     outline: none;
    }
        .text-count-absolute {   
            right: 5% !important;
            font-size: 0.7rem !important;
           
        }
                .coin-text-refresh {
                    right: 6% !important;
                    top: 35% !important;
                    color: #808080;
                    font-size: 1.1255rem;
                    font-weight: 700;
                    color: #4C4C4C;
                    cursor: pointer;
                }
                .container-content {
             display: flex;
                     flex-direction: column;
        align-items: flex-start;
        justify-content: center;
                    }
    

        
}
.padding-2-4 {
    padding: 0.6rem 1rem  !important;
    outline: none;
} 
.input-amount-waraper  {
    position: relative;
}
.input-amount-waraper input  {
       padding: 0.6rem 5rem 0.6rem 2rem ;
       border: 2px solid #999999;
       outline: none;
}
.coin-text {
    position: absolute;
    right: 8%;
    bottom: 13%;
    color: #808080;
    font-size: 1.1255rem;
    font-weight: 700;
}
.coin-text-refresh {
    position: absolute;
    right: 2%;
    top: 40%;
    color: #808080;
    font-size: 1.1255rem;
    font-weight: 700;
    color: #4C4C4C;
    cursor: pointer;
}
.text-area-payme {
    outline: none;
}
.outline-none-button {
    outline: none;
    border: none;
}
.text-count-absolute {

    position: absolute;
    bottom: 1%;
    right: 2%;
    font-size: 1rem;
    color: #808080;
}
.total-text {
    font-size: 1.05rem;
    font-weight: 700;
    color: #4C4C4C;
}
.input-number-step3 {
    padding: 0 1rem;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 80px;
    outline: none;
}
.step-active {
    font-weight: 900;
    font-size: 1.05rem;
    color: #4C4C4C;
}
.step-deactive {
    font-weight: 400;
    font-size: 0.86rem;
    color: #4C4C4C;
}